body {
    background-color: powderblue;
}

header {
    margin-top: 10px;
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: larger;
    text-shadow: 20px;
    color: white;
    background: url('/background.jpg');
    background-color: rgb(145, 189, 224);
}

header>h1 {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.main-class {
    display: flex;
    width: 100%;
    height: 677px;
    left: -120px;
    top: 43px;
}

.container-class {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0rem;
}

.punk-img {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 900px;
    left: 0px;
    top: 77px;
    /*background-color: rgb(145, 189, 224);*/
}

#punkimg {
    width: 300px;
    height: 900px;
    mix-blend-mode: hard-light;
}

.grab-beer {
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 700px;
    left: 100px;
    top: 77px;
    align-items: center;
    /*background: #C4C4C4;*/
}

#grabButton {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-align: center;
    color: #ffff;
    background-color: #34a5e7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#searchbutton {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-align: center;
    color: #ffff;
    background-color: #34a5e7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#beer>p:hover {
    color: rgb(59, 97, 99);
}

#beer>p {
    font-size: 20px;
    margin-left: 10px;
}

#beer>img {
    width: 100px;
    height: 200px
}


/* beer page styles*/

#beer-info>img {
    width: 50px;
    height: 150px
}

#beer-info>ul {
    justify-items: center;
}

#beer-info>li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: darkblue;
}


/* search page styles*/

main>ul>li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: darkblue;
    list-style-type: none;
}

main>p {
    font-size: larger;
}


/*media quries for mobile view*********/

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    header {
        width: 75%;
        height: 250px;
        text-align: center;
        font-size: larger;
        text-shadow: 20px;
        color: white;
        background: url('/background.jpg');
        background-color: rgb(145, 189, 224);
    }
    #punkimg {
        width: 200px;
        height: 450px;
        mix-blend-mode: hard-light;
    }
    .punk-img {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 450px;
        left: 0px;
        top: 77px;
        /*background-color: rgb(145, 189, 224);*/
    }
}